html, body
{
	width: 100%;
	margin: 0px;
}

body
{
	background-color: rgb(230,230,230);
}

#titre
{
	font-size: 5em;
	font-family: Agency FB;
	text-align: center;
	margin: 0px;
}

#titre-n
{
	font-size: 3em;
	font-family: Agency FB;
	text-align: center;
}

.column
{
	display: flex;
	flex-direction: column;
	justify-content: flex-end;
}

.columnp
{
	display: flex;
	flex-direction: column;
	margin: 0px;
}

.blue
{
	color: rgb(0,10,250);
}

nav
{
	display: flex;
	flex-direction: row;
	width: 100%;
	justify-content: space-around;
}

.contact
{
	font-family: Agency FB;
	font-size: 2.5em;
	color: rgba(150,150,150,0.7);
}

a:hover
{
	color: rgba(50,50,50,1);
}

.row
{
	display: flex;
	flex-direction: row;
	justify-content: space-around;
}

.rowp
{
	display: flex;
	flex-direction: row;
	margin: 10px;
	margin-left: 20px;
	justify-content: space-around;
}

.columnp2
{
	display: flex;
	flex-direction: column;
	justify-content: space-around;
}

.ffvii
{
	width: 350px;
	height: 350px;
}

.ffviii
{
	width: 350px;
	height: 350px;
}


.ffx
{
	width: 350px;
	height: 350px;
}

.dissidia
{
	width: 350px;
	height: 350px;
}

.jeux
{
	width: 350px;
	height: 350px;
}

img
{
	border: black double 3px;
	padding: 0px;
}

img:hover
{
	border: rgb(0,10,250) double 3px;
	padding: 4px;
}

h3
{
	margin: 5px;
	font-family: Agency FB;
	font-size: 2em;
	border-bottom: rgb(0,10,250) double 5px;
	width: 250px;
}

footer
{
	margin: 0px;
	background-color: rgb(200,200,200);
}

a
{
	color: rgba(150,150,150,0.7);
	text-decoration: none;
}

a:visited
{
	color: rgba(50,50,50,1);
	text-decoration: none;
}
